body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #bffff9;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 5% 20px 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.todo{
    text-align: center;
}
#headline {
border-top: 20px solid #40E0D0;
}

.checkboxes{
    text-align: left;
}

.checkboxen{
    display: flex;
    align-items: center;
}

.checkboxen input[type="checkbox"] {
    margin-right: 20px; /* Abstand zwischen Checkbox und Label */
    width: 15px;
    height: 15px;
    min-width: 15px; /* Verhindert, dass das Kontrollkästchen schrumpft */
    min-height: 15px; /* Verhindert, dass das Kontrollkästchen schrumpft */
    margin-right: 10px; 
}

h1, h2, h4 {
    text-align: center;
    margin: 15px 0;
}

label {
    display: block;
    margin: 10px 0;
}

button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}
